/*
1, 清除浮动display写成了none
2, topNavBar拼写成topNavbar
3, li后面跟了ol
*/
body {
    margin: 0;
    background: #efefef;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
}

li {
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

.topNavBar {
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px; */
    padding: 20px 0px 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.topNavBar-inner {
    padding-left: 16px;
    padding-right: 16px;
}

.topNavBar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.topNavBar nav ul li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}

.topNavBar nav ul li a {
    font-size: 12px;
    color: #b7b7b7;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

.topNavBar nav ul li a:hover {
    border-bottom: 3px solid #e06567;
}
.topNavBar nav {
    float: right;
    padding-top: 7px;
}

.topNavBar > a {
    float: left;
}

.topNavBar .logo {
    font-family: "Arial Black";
    font-size: 24px;
    padding-top: 4px;
    padding-bottom: 3px;
}

.topNavBar .logo .rs {
    color: #e6686a;
    margin-right: 4px;
}

.topNavBar .logo .card {
    color: #9a9da2;
}

.banner {
    height: 515px;
    background-image: url(../img/rs-cover.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}

.userCard {
    max-width: 940px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.58);
}

.welcome {
    background: #e6686a;
    color: #fff;
    display: inline-block;
    /* display: inline-block;
    width: 70px;
    height: 29px;
    line-height: 29px;
    text-align: center; */
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
}

.triangle {
    display: block;
    border: 10px solid transparent;
    width: 0;
    border-left-color: #e6686a;
    border-top-width: 0;
    position: absolute;
    left: 4px;
    top: 100%;
}

.picture {
    float:left;
}

.text {
    float: left;
    margin-left: 65px;
    width: 470px;
}

.pictureAndText {
    padding: 50px;
}

.text h1 {
    margin-top: 18px;
}

.text hr {
    margin: 20px 0;
}

.userCard dl dt,
.userCard dl dd {
    float: left;
    padding: 10px 0;
    font-size: 12px;
}

.userCard dl dt {
    width: 30%;
    font-weight: bold;
}

.userCard dl dd {
    width: 70%;
    color: #9da0a7;
}

.userCard footer {
    background: #e6686a;
    text-align: center;
}

.userCard footer a{
    /* border: 1px solid black; */
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}

.userCard footer a:hover {
    background: #cf5d5f;
}

.userCard svg {
    width: 30px;
    height: 30px;
    fill: white;
    margin: 0 5px;
    vertical-align: top;
}

.downloadResume-wrapper {
    text-align: center;
}

.downloadResume {
    font-size: 14px;
    font-weight: bold;
    color: #3d4451;
    border-radius: 2px;
    line-height: 16px;
    padding: 21px 55px;
    border: 1px solid #cdcfd1;
    display: inline-block;
    margin-top: 32px;
    transition: box-shadow 0.3s;
}

.downloadResume:hover{
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
}

.profile {
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    font-family: kai;
    font-size: 18px;
    line-height: 1.8;
    margin-top: 30px;
}

.skill,
.protfolio {
    max-width: 940px;
    margin: 0 auto;
    margin-top: 60px;
}

.skill h2,
.protfolio h2 {
    color: #3d4451;
    text-align: center;
    font-size: 34;
    line-height: 1.2;
    font-weight: 600;
}

.skill ol {
    background: white;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
    padding: 42px 50px 10px;
    margin-top: 30px;
}

.skill h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}

.skill li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}

.skill li:nth-child(even) {
    float: right;
}

.progressBar {
    height: 3px;
    background: #fae1e1;
    border-radius: 2px;
    margin: 4px 0 40px;
}

.progress {
    height: 100%;
    background: #e6686a;
    border-radius: 2px;
    width: 70%;
}

.protfolio {
    text-align: center;
    margin-bottom: 18px;
}

.protfolio nav {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 30px 0;
}

.protfolio ol {
    /* border: 1px solid red; */
    display: inline-block;
    vertical-align: top;
}

.protfolio ul {
    float: left;
    margin-left: 40px;
    cursor: pointer;
}

.protfolio ul:nth-child(1) {
    margin-left: 0;
}

/*
另外一种居中的实现方法
.protfolio ol {
    text-align: center;
}

.protfolio ul {
    display: inline-block;
    margin-left: 40px;
}

.protfolio ul:nth-child(1) {
    margin-left: 0;
}

*/

.bar {
    height: 5px;
    background: white;
    margin: 5px 0;
    border-radius: 2px;
}

.bar-inner {
    height: 100%;
    background: #e6686a;
    border-radius: 2px;
    transition: all 0.5s;
}

.bar.state-1 .bar-inner {
    margin-left: 0;
    width: 50px;
}

.bar.state-2 .bar-inner {
    margin-left: 65px;
    width: 50px;
}

.bar.state-3 .bar-inner {
    margin-left: 120px;
    width: 60px;
}

.works {
    position: relative;
}

.big, .small {
    position: absolute;
}
